/* The main external style sheet for the website. */
/* More info: https://github.com/tarrantja/Project-1 */

/* Custom font 'Arvo' from Google*/
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

/* Navigation Bar */
.mynavbar {
    width:15%;
    float:left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position:fixed;
}

.mynavbar li a {
    display:block;
    color:white;
    text-align: center;
    padding: 20px;
    text-decoration:none;
}

.mynavbar li a:hover {
    text-decoration:none;
    background-color: lightblue; 
}

.mynavbar .active {
    background-color: darkblue; 

}

/* Body and main elements (headings, para, etc) */

body {
    background-color: lightskyblue;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

h1, .section {
    width:85%;
    float:right;
}

h1, h2, h3 {
    text-align: left;
    font-family: 'Arvo', 'Arial';    ;
    text-transform: uppercase;
    font-weight: 700;
    color:navy;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    float: right;
    font-size: 4em;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}

h2 {
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section {
    background-color: white;
    padding-bottom: 0;
}

.section p, .section table, .section ol, .well{ 
    width:80%;
    margin: auto;
}

p, td, cite a, li {
    font-family: 'Arvo', 'Arial';
    font-weight: 400;
    color:black;
}

p, td {
    text-align: justify;
}

pre {
    border:none;
    margin:0;
    padding:0;
}

/* Styling the CV in about.html */

.CVEntry {
    width:90%;
    margin:auto;
    margin-bottom: 10px;
}

.CVEntry p {
    width:100%;
    margin:0;
}

.CVEntry em {
    color:darkgray;
}

.CVEntry p:first-child {
    font-weight: 700;
}

.dates p {
    text-align: right;
}

/* Form styling in javascript_info.html */

.myForm, form {
    width:80%;
    margin:auto;
}

/* Styling buttons in css_info.html */

#stylelist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width:80%;
    margin:auto;
}

#stylelist li, .myButton, #textInput {
    border: 2px solid darkblue;
    background-color:white;
    color:black;
    border-radius:10px;
    padding: 6px 12px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#stylelist li {
    width: 30%;
    float:left;
    margin-left:1.66%;
    margin-right:1.66%;
    text-align: center;
}

.myButton, #textInput {
    float:left;
    margin-left:0.83%;
    margin-right:0.83%;
}

.myButton {
    width: 23.75%;
}

#textInput {
    width:47.5%;
    float:left;
}

#stylelist li:hover, .myButton:hover {
    background-color: lightblue;
    color:white;
}

/* Styling the table in the 'Hisotry' sections */

th {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Arvo', 'Arial';
    font-weight: 700;
    color: black;
}

/* DOM Object Model Figure */

img {
    max-width: 100%;
    height:auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.figure {
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom:20px;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
}

.caption {
    text-align: center;
    padding-top:10px;
    padding-bottom:20px;
}

.caption p {
    text-align: center;
}

/* Styling of fact retrived from numbersapi.com in javascript_info.html */

.fact {
    color: maroon;
    text-align: center;
    padding: 10px;
    border: 2px solid maroon;
    border-radius: 5px;
    font-size: 1.5em;
}

.icon {
    vertical-align: middle;
    padding-right: 5px;
}